/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.dagger {max-width:320px; max-height:321px; }
.dagger::after {content: '\00a0';display: inline-block; width:320px; height:321px; background-position: 79.91320520768754% 99.84520123839009%;background-size: 604.0625% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.dagger::after {max-width:320px; width:100%;height:0;padding: 0 0 100.3125% 0;}
.destructive-assault-riffle {max-width:321px; max-height:321px; }
.destructive-assault-riffle::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 0.062034739454094295% 0.15479876160990713%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.destructive-assault-riffle::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.destructive-blaster {max-width:321px; max-height:321px; }
.destructive-blaster::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 0.062034739454094295% 50%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.destructive-blaster::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.destructive-gun {max-width:321px; max-height:320px; }
.destructive-gun::after {content: '\00a0';display: inline-block; width:321px; height:320px; background-position: 99.93796526054591% 49.92272024729521%;background-size: 602.1806853582555% 302.1875%;background-image: url(/game/weapons-items.png);padding: 0; }
div.destructive-gun::after {max-width:321px; width:100%;height:0;padding: 0 0 99.68847352024922% 0;}
.destructive-riffle {max-width:321px; max-height:321px; }
.destructive-riffle::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 0.062034739454094295% 99.84520123839009%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.destructive-riffle::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.ethernal-blaster {max-width:321px; max-height:321px; }
.ethernal-blaster::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 20.037220843672458% 0.15479876160990713%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.ethernal-blaster::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.ethernal-gun {max-width:321px; max-height:321px; }
.ethernal-gun::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 20.037220843672458% 50%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.ethernal-gun::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.ethernal-riffle {max-width:321px; max-height:321px; }
.ethernal-riffle::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 20.037220843672458% 99.84520123839009%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.ethernal-riffle::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.ethernal-rpg {max-width:321px; max-height:321px; }
.ethernal-rpg::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 40.01240694789082% 0.15479876160990713%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.ethernal-rpg::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.force-assault-riffle {max-width:321px; max-height:321px; }
.force-assault-riffle::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 40.01240694789082% 50%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.force-assault-riffle::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.force-blaster {max-width:321px; max-height:321px; }
.force-blaster::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 40.01240694789082% 99.84520123839009%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.force-blaster::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.force-gun {max-width:321px; max-height:321px; }
.force-gun::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 59.98759305210918% 0.15479876160990713%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.force-gun::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.force-riffle {max-width:321px; max-height:321px; }
.force-riffle::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 59.98759305210918% 50%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.force-riffle::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.sword {max-width:321px; max-height:321px; }
.sword::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 59.98759305210918% 99.84520123839009%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.sword::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.toxic-blaster {max-width:321px; max-height:321px; }
.toxic-blaster::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 79.96277915632754% 0.15479876160990713%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.toxic-blaster::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.toxic-gun {max-width:321px; max-height:321px; }
.toxic-gun::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 99.93796526054591% 0.15479876160990713%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.toxic-gun::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.toxic-riffle {max-width:321px; max-height:321px; }
.toxic-riffle::after {content: '\00a0';display: inline-block; width:321px; height:321px; background-position: 79.96277915632754% 50%;background-size: 602.1806853582555% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.toxic-riffle::after {max-width:321px; width:100%;height:0;padding: 0 0 100% 0;}
.toxic-rpg {max-width:320px; max-height:321px; }
.toxic-rpg::after {content: '\00a0';display: inline-block; width:320px; height:321px; background-position: 99.81401115933043% 99.84520123839009%;background-size: 604.0625% 301.2461059190031%;background-image: url(/game/weapons-items.png);padding: 0; }
div.toxic-rpg::after {max-width:320px; width:100%;height:0;padding: 0 0 100.3125% 0;}

/* $TexturePacker:SmartUpdate:35cb4ba4e5d8d42ae9471a4be55ce845:e724e2252e26952102a2b24c40af480a:26b9f3b97094a2bee546721b746ccc15$ */
